<% include ../partials/_header %>






	<!--================ Breadcumb Part HTML Start ======================-->

	<section id="breadcumb" style="background:url(images/grid-view/banner.jpg) no-repeat center;background-size:cover;">
		<div class="bnr-overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center p-0">
						<h1>Product Grid View</h1>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><i class="fas fa-angle-right"></i></li>
							<li><a href="product-grid.html">Product Grid View</a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================ Breadcumb Part HTML End ======================-->

	<!--================ All Product Part HTML Start ======================-->

	<section id="all-product" class="product-grid-sagor">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row grid-border m-0">
						<div class="col-5 col-lg-3 col-sm-4 grid-view">
							<ul>
								<li><a class="active" href="product-grid.html"><i class="fas fa-th"></i></a></li>
								<li><a href="product-listview.html"><i class="fas fa-th-list"></i></a></li>
							</ul>
						</div>
						<div class="col-7 col-lg-3 col-sm-4 sort-by">
							<form action="/filtro" class="form-right" method="post">
								<select  name="kitchen">
									<option value="">todos</option>
									<option value="crema">cremas</option>
									<option value="shampoo">shampoo</option>
									<option value="aceite">aceites</option>
									<option value="perfume">perfumes</option>
								</select>
								<div class="col-md-12">
									<input type="submit" class=" btn btn-primary" name="submit" placeholder="Filter">
								</div>
							</form>
						</div>
						<div class="col-lg-3 price-filter">
							<input type='text' id='rSlider' />
						</div>
						<div class="col-12 col-lg-3 col-sm-4 p-show">
							<P>Showing 16 items</P>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="row">

              <% produno.forEach(function (produn) { %>
						<div class="col-lg-3 col-sm-6 text-center">
							<figure>
								<div class="product-item">
									<img src="<%= produn.image %>" class="img-fluid" alt="Product Image">
								</div>
								<figcaption>
									<h4 class="title"><%= produn.title %></h4>
									<ul class="review">
										<li><i class="fas fa-star"></i></li>
										<li><i class="fas fa-star"></i></li>
										<li><i class="fas fa-star"></i></li>
										<li><i class="fas fa-star"></i></li>
										<li><i class="fas fa-star"></i></li>
									</ul>
									<h4>Price: $<%= produn.price %></h4>
									<ul class="cart-list icon-btn">
										<li><a class="abs-reflect" href="#"><i class="fas fa-heart"></i></a></li>
										<li><a class="abs-reflect" href="/addtocardproduno/<%= produn.id %>"><i class="fas fa-cart-plus"></i></a></li>
										<li><a class="abs-reflect" href="/produnoredirect/<%= produn.id %>"><i class="fas fa-eye"></i></a></li>
									</ul>
								</figcaption>
              </figure>
            </div>
			<% }) %>



					</div>
				</div>
				<div class="col-12 text-center">
					<div class="page-border">
						<ul>
							<li>Page: </li>
							<li><a href="#">01</a></li>
							<li><a href="#">02</a></li>
							<li class="noorsagor163"><a href="#">03</a></li>
							<li class="noorsagor163"><a href="#">04</a></li>
							<li class="noorsagor163"><a href="#">05</a></li>
							<li class="noorsagor163">
								<form><input type="text"></form>
							</li>
							<li>of</li>
							<li><a href="#">2010</a></li>
							<li><a href="#"><i class="fas fa-caret-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================ All Product Part HTML End ======================-->




  <% include ../partials/_footer %>